{% from 'components/field.html' import render_field %} {% extends "layout.html" %} {% block title %} {% trans %}Edit User{% endtrans %} - {{ user.username }} {% endblock %} {% block header %} {% endblock %} {% block body %}
<form method="POST" action="{{ request.url }}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{% trans %}Edit User{% endtrans %}</h3>
        </div>
        <div class="panel-body">
            {{ form.csrf_token }} {{ render_field(form.username,readonly="readonly") }} {{ render_field(form.first_name) }} {{ render_field(form.last_name) }} {{ render_field(form.email) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-default"><i class="icon-save"></i> {% trans %}Save{% endtrans %}</button>
            <a class="btn btn-default" href="{{ url_for('admin.user_list') }}"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</a>
        </div>
    </div>
</form>
{% endblock %} {% block footer %} {% endblock %}