{% from 'components/table.html' import table_header %}
{% from 'components/pagination.html' import pagination %}
{% from 'components/search.html' import search %}

<div class="panel panel-default">
    <div class="panel-heading">
        {{ search(gettext('Search for a Name')) }}
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>{{ gettext('Name') }}</th>
                <th>{{ gettext('Time Created') }}</th>
            </tr>
            <tbody>
                {% for f in datatable.query.items %}
                    <tr>
                        <td><a href="{{ url_for('.firma_edit', str_hash=crypt(f.id)) }}">{{ f.nazev }}</a></td>
                        <td>{{ timeago(f.created_ts) }}</td>
                        <td>
                            {% set dialogue = gettext('Are you sure you want to delete {nazev}?').format(nazev=f.nazev) %}
                            <a data-confirm data-dialogue="{{ dialogue }}" class="btn btn-default btn-xs" href="{{ url_for('.firma_delete', str_hash=crypt(f.id)) }}">
                                <i class="icon-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    {%- if request.values.get('query') %}<tr><td colspan="{{ datatable.colspan }}">{{ gettext('No results found for: ')}}{{ request.values.get('query') }}</td></tr>{% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        {{ pagination(datatable.query, datatable.limits) }}
    </div>
</div>
