{% from 'components/field.html' import render_field %}
{% extends "layout.html" %}

{% block title %}{% trans %}New group{% endtrans %}{% endblock %}

{% block header %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.0/css/buttons.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.3.2/css/colReorder.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/1.4.2/css/scroller.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.bootstrap.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.0/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/colreorder/1.3.2/js/dataTables.colReorder.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/scroller/1.4.2/js/dataTables.scroller.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
{% endblock %}

{% block body %}
    <div>
        <div style="width: 45%; display: inline-block;">
            <table class="table table-bordered" id="panel1">

            </table>
        </div>
        <div style="width: 9%; display: inline-block; text-align: center;">
            <button id="btn-right" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></button><br>
            <button id="btn-left" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></button>
        </div>
        <div style="width: 45%; display: inline-block;">
            <table class="table" id="panel2">
                <tr><td>(empty)</td></tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        var users = {{ pole|safe }}

        $(document).ready(function() {
            var table1 = $('#panel1').DataTable( {
                data: users,
                columns: [
                    { title: "{% trans %}Name{% endtrans %}" }
                ]
            } );
            var table2 = $('#panel2').DataTable( {
                data: [],{# users, #}
                columns: [
                    { title: "{% trans %}Name{% endtrans %}" }
                ]
            } );

            $('#panel1 tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
            } );

            $('#panel2 tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
            } );

            $('#btn-right').click( function () {
                console.log(table1.rows('.selected').data());
            } );

            $('#btn-left').click( function () {
                console.log(table2.rows('.selected').data());
            } );

        } );
    </script>
{% endblock %}

