{% extends 'layout.html' %}

{% block title %}
    {% trans %}Users{% endtrans %}
{% endblock %}

{% block header %}
    <ol class="breadcrumb">
        <li class="active">{% trans %}Admin{% endtrans %}</li>
        <li><a href="{{ url_for('.user_list') }}">{% trans %}Users{% endtrans %}</a></li>
        {% if current_user.is_sadmin %}<li><a class="btn btn-default" href="{{ url_for('admin.create_user') }}"><span class="glyphicon glyphicon-plus"></span> {% trans %}Create User{% endtrans %}</a></li>{% endif %}
    </ol>
{% endblock %}

{% block body %}
    <div id="pjax-container">
        {% include 'users.html' %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
